.article-row {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.article-row p {
  margin: 0;
  text-overflow: ellipsis; white-space: nowrap;
  overflow: hidden;
}
.article-row .active {
  margin: 0;
  white-space: normal;
  overflow:visible;
}