.categories-container {
  border: 2px solid #ff9ebb;
  width: 60vw;
  height: 20vw;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 11px 3px rgba(0,0,0,0.48);
  box-shadow: 5px 5px 11px 3px rgba(0,0,0,0.48);
  border-radius: 2px;
  background-color: #fbf7f7;
}
.categories-container h4 {
  padding: 0%;
  margin: 0;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
@mixin button-reset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.category-button {
  @include button-reset;
  background-color: skyblue;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 2px;

  margin: 2px 2px;
  border: solid 2px transparent;
  border-radius: 0.4em;
  color: #ffffff;
  background-color: #e05780;
  transition: 0.3s;
}
.category-button:hover {
  color: #e05780;
  border-color: currentColor;
  background-color: white;
}

